{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<link rel="stylesheet" href="{{url_for('static',filename='css/2main.css')}}">
<div class="jumbotron text-center" style="background-image: url('https://cdn.pixabay.com/photo/2016/06/13/09/57/meeting-1453895__340.png'); color: green; padding: 100px 25px; font-family: 'Indie Flower', cursive;">
    <h1>Business</h1>
</div>
<div class="container" style="font-family: 'Indie+Flower', cursive;">
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>
</div>
{%endblock%}